<ion-view title="Add Room" id="page5">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-avatar item-icon-right" ui-sref="tabsController.feeds">
                <img src="img/YsjQs8dFQXa3zEjXxojH_Jepang1.jpg">
                <h2>Japan</h2>
                <p>Japan room</p>
                <i class="icon ion-android-add"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" ui-sref="tabsController.feeds">
                <img src="img/kqGUlC4LRWOUTQY4iHZz_Mandarin.jpg">
                <h2>Mandarin</h2>
                <p>Mandarin room</p>
                <i class="icon ion-android-add"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" ui-sref="tabsController.feeds">
                <img src="img/lWTjW2jYSyenOv6w0Pwb_arab.jpg">
                <h2>Arabic</h2>
                <p>Arabic room</p>
                <i class="icon ion-android-add"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" ui-sref="tabsController.feeds">
                <img src="img/77FwV6FBQ7SxpDA56NOM_belanda.jpg">
                <h2>Dutch</h2>
                <p>Dutch room</p>
                <i class="icon ion-android-add"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>