<ion-view title="Clubbing Schedule" id="page3" style="background-color:#F5CAD9;">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">English Grammar</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left positive">
                        <img src="img/g3eBF4uuS6eTTSi2dv2M_bisbro_cafe.jpg">
                        <h2positive>Every Friday
                            <p style="white-space:normal;">15.30 WIB at Bisbro Cafe</p>
                        </h2positive>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right balanced">
                        <img src="img/44q3tIhDTGSNsnyKeSDr_photo_2016-04-14_12-26-26.jpg">
                        <h2balanced>hamzahppa
                            <p style="white-space:normal;">Tentor</p>
                            <i class="icon ion-social-whatsapp"></i>
                        </h2balanced>
                    </ion-item>
                    <ion-toggle toggle-class="toggle-positive" ng-checked="true">Notification</ion-toggle>
                </ion-list>
                <div class="button-bar">
                    <button id="clubbingSchedule-button10" class="button button-positive  button-block icon ion-ios-location-outline"></button>
                    <button id="clubbingSchedule-button11" class="button button-positive  button-block icon ion-android-share-alt"></button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">English Speaking</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left positive">
                        <img src="img/9CWZLi7cR0iFxXBDDykU_cafe_library.jpg">
                        <h2positive>Every Sunday
                            <p style="white-space:normal;">18.00 WIB at Cafe Library Tiny</p>
                        </h2positive>
                    </ion-item>
                    <ion-toggle toggle-class="toggle-positive" ng-checked="true">Notification</ion-toggle>
                    <ion-item class="item-avatar item-icon-right balanced">
                        <img src="img/GxFNd2d4SbGk76col1Tg_photo_2016-04-14_12-26-26.jpg">
                        <h2balanced>hamzahppa
                            <p>Tentor</p>
                            <i class="icon ion-social-whatsapp"></i>
                        </h2balanced>
                    </ion-item>
                </ion-list>
                <div class="button-bar">
                    <button id="clubbingSchedule-button13" class="button button-positive  button-block icon ion-ios-location-outline"></button>
                    <button id="clubbingSchedule-button15" class="button button-positive  button-block icon ion-android-share-alt"></button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Deutsch</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left positive">
                        <img src="img/8Pgd8V3LQnqKRyyHB2Hp_library_cafe.jpg">
                        <h2positive>Every Sunday
                            <p style="white-space:normal;">16.00 WIB at Cafe Library Tiny</p>
                        </h2positive>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right balanced">
                        <img src="img/5VmJulDYRjK5OB7o0PES_photo_2016-04-14_12-26-26.jpg">
                        <h2balanced>hamzahppa
                            <p>Tentor</p>
                            <i class="icon ion-social-whatsapp"></i>
                        </h2balanced>
                    </ion-item>
                    <ion-toggle toggle-class="toggle-positive" ng-checked="true">Notification</ion-toggle>
                </ion-list>
                <div class="button-bar">
                    <button id="clubbingSchedule-button16" class="button button-positive  button-block icon ion-ios-location-outline"></button>
                    <button id="clubbingSchedule-button18" class="button button-positive  button-block icon ion-android-share-alt"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>