<ion-view title="Feeds" id="page2" style="background-color:#C5BEF1;">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="button-bar">
            <a ui-sref="tabsController.post" id="feeds-button12" class="button button-positive  button-block">Post</a>
        </div>
        <div class="list card">
            <div class="item item-divider">Schedule Update</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-avatar item-icon-right assertive">
                        <img src="img/op0Xdo7WRSqMZVTUziqx_photo_2016-04-14_12-26-26.jpg">
                        <h2assertive>hamzahppa
                            <p>English clubbing take time at 15.00 WIB @Bisbro Cafe Today</p>
                            <i class="icon ion-android-alert"></i>
                        </h2assertive>
                    </ion-item>
                </ion-list>
                <div class="button-bar">
                    <button id="feeds-button1" class="button button-positive  button-block icon ion-eye"></button>
                    <button id="feeds-button3" class="button button-positive  button-block icon ion-android-share-alt"></button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Ask</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-avatar positive">
                        <img src="img/8FE82hfeQgixHxfZZH0c_pp.jpg">
                        <h2positive>elydesyana
                            <p>How to greet people in the morning</p>
                        </h2positive>
                    </ion-item>
                </ion-list>
                <div class="button-bar">
                    <button id="feeds-button4" class="button button-positive  button-block icon ion-compose"></button>
                    <button id="feeds-button6" class="button button-positive  button-block icon ion-android-favorite-outline"></button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Open Discussion</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-avatar balanced">
                        <img src="img/pkWiWnzzTD6FXw2dNWe1_pp (1).jpg">
                        <h2balanced>ameliarahman
                            <p>Vocabulary</p>
                        </h2balanced>
                    </ion-item>
                    <ion-item>Morning
                        <span class="item-note">Pagi</span>
                    </ion-item>
                    <ion-item>Night
                        <span class="item-note">Malam</span>
                    </ion-item>
                </ion-list>
                <div class="button-bar">
                    <button id="feeds-button7" class="button button-positive  button-block icon ion-compose"></button>
                    <button id="feeds-button8" class="button button-positive  button-block icon ion-android-favorite-outline"></button>
                    <button id="feeds-button9" class="button button-positive  button-block icon ion-android-share-alt"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>