<ion-view title="Post" id="page6">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <form class="list">
                    <ion-item class="item-avatar positive">
                        <img src="img/sdio4u6gTdG5qO5atXcr_photo_2016-04-14_12-26-26.jpg">
                        <h2positive>hamzahppa</h2positive>
                    </ion-item>
                    <label class="item item-input">
                        <input type="text" placeholder="Ask">
                    </label>
                </form>
                <a ui-sref="tabsController.feeds" id="post-button19" class="button button-positive  button-block">Post</a>
            </div>
        </div>
    </ion-content>
</ion-view>