<ion-view title="Profile" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <div>
            <img src="img/nJyKOGm5TNCIyAE3oHUk_photo_2016-05-10_14-30-49.jpg" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 23px;"></div>
        <div>
            <ul>
                <li>
                    <p style="text-align:center; font-size:16px;">Hamzah</p>
                </li>
                <li>
                    <p style="text-align:center; font-size:16px;">hamzahppa@gmail.com</p>
                </li>
                <li>
                    <p style="text-align:center; font-size:16px;">Mengikuti 4 Courses</p>
                </li>

            </ul>
        </div>
        <div class="button-bar"></div>
        <div>
            <img src="img/Mla4TgoQXeSeyUgO4Jxu_english_flag.jpg" width="15%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 14px;"></div>
        <div>
            <img src="img/W1YWrUETeC6O8iqkRPZZ_germany_flag.jpg" width="15%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <div>
            <img src="img/lazmKatNTdeAV8yY0IZA_arab_flag.jpg" width="15%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <div>
            <img src="img/3YQOBIIR0aURvGb51QEb_china_flag.jpg" width="15%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <button id="profile-button14" class="button button-positive  button-block">Logout</button>
    </ion-content>
</ion-view>